---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum illo
        laudantium vel voluptatum. Incidunt molestias quam nisi velit! Facere,
        rerum? Nobis porro aliquid sit omnis labore soluta facere minus
        molestias?
    </p>

    <ul>
        {
            allPosts.map((post) => (
                <BlogPost url={post.url} title={post.frontmatter.title} />
            ))
        }
    </ul>
</BaseLayout>
